In [1]:
# Generate working reactions
import yaml, sys, os, random, re, glob
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sympy
sys.path.insert(0, '../atomic_SOC')
import chem_subs as chem
import multirx_subs as mrx

In [2]:
# Process all available molecular YAML files
moldata, Gdict = mrx.read_all_molec_yamls()

Reading 421 molecular YAML files
*** Warning: "No SOC data for open-shell linear molecule cch" in compute_E0()
*** Warning: "No SOC data for open-shell linear molecule ncn" in compute_E0()
*** Warning: "No SOC data for open-shell linear molecule nco" in compute_E0()
*** Warning: "No SOC data for open-shell linear molecule nh" in compute_E0()
*** Warning: "No SOC data for open-shell linear molecule o2" in compute_E0()

In [3]:
# Get the name codes
dfnames = pd.read_csv(os.sep.join(['refdata', 'label_meanings.tsv']), sep='\t')

In [4]:
target = 'dioxolane'

In [5]:
rxns = mrx.generate_reactions(target, moldata, Gdict, Benson=False, verbose=True)

Bond separation...Hydration...Hydrofluorination...Hydrochlorination...Hydrogenation...Oxygenation...To elements...Isomerization...(3)...Decomposition...(19)...Balancing functional groups...(11)...altogether 40 reactions

In [6]:
dfrx, fmtrx = mrx.build_reactions_DF(rxns, moldata, target, verbose=True)
display(dfrx.style.format(fmtrx))
print(f'Accepted {len(dfrx)} of {len(rxns)} reactions')

*** Warning: "No exptl data for butadienyl2CCH" in select_expt()
*** Warning: "No exptl data for ch3nch2" in select_expt()
*** Warning: "No exptl data for cme4" in select_expt()
*** Warning: "No exptl data for cyc7" in select_expt()
*** Warning: "No exptl data for cycloheptene" in select_expt()
*** Warning: "No exptl data for cyrene" in select_expt()
*** Warning: "No exptl data for etoc2h3" in select_expt()
*** Warning: "No exptl data for fluorene" in select_expt()
*** Warning: "No exptl data for ihexane" in select_expt()
*** Warning: "No exptl data for mC6H4Cl" in select_expt()
*** Warning: "No exptl data for mec4me" in select_expt()
*** Warning: "No exptl data for meoome" in select_expt()
*** Warning: "No exptl data for oC6H4Cl" in select_expt()
*** Warning: "No exptl data for pC6H4Cl" in select_expt()
*** Warning: "No exptl data for pentane" in select_expt()
*** Warning: "No exptl data for pyridine-N-oxide" in select_expt()
*** Warning: "No exptl data for succinicA" in select_expt()
Lacking exptl data for ['etoc2h3'] in reaction [['dioxolane', -1], ['etoc2h3', 2.0], ['butadiene', -1.0], ['ch4', -1.0]]

Accepted 39 of 40 reactions

In [7]:
for i, rx in enumerate(rxns):
    print(f'{i:<4d} {rx}')

0    [['dioxolane', -1], ['ch3oh', 4], ['c2h6', 1], ['ch4', -3.0], ['h2o', -2.0]]
1    [['dioxolane', -1], ['ch3oh', 3], ['h2o', -1], ['h2', -2.0]]
2    [['dioxolane', -1], ['ch3f', 3], ['h2o', 2], ['hf', -3], ['h2', -2.0]]
3    [['dioxolane', -1], ['ch3cl', 3], ['hocl', 2], ['hcl', -5]]
4    [['dioxolane', -1], ['ch4', 3], ['h2o', 2], ['h2', -5.0]]
5    [['dioxolane', -1], ['co2', 3], ['h2o', 3.0], ['o2', -3.5]]
6    [['dioxolane', -1], ['c', 3], ['o2', 1.0], ['h2', 3.0]]
7    [['dioxolane', -1], ['c2h5cooh', 1]]
8    [['dioxolane', -1], ['etfo', 1]]
9    [['dioxolane', -1], ['meoac', 1]]
10   [['dioxolane', -1.0], ['ch4', 1.0], ['chocho', 1.0]]
11   [['dioxolane', -1.0], ['c2h3oh', 1.3333333333333333], ['hcooh', 0.3333333333333333]]
12   [['dioxolane', -1.0], ['co', 1.0], ['DME', 1.0]]
13   [['dioxolane', -1.0], ['ch3chco', 1.0], ['h2o', 1.0]]
14   [['dioxolane', -1.0], ['ch2o', 1.0], ['ch3cho', 1.0]]
15   [['dioxolane', -1.0], ['mefo', 0.75], ['meoc2h3', 0.5]]
16   [['dioxolane', -1.0], ['acoh', 0.5], ['oxirane', 1.0]]
17   [['dioxolane', -1.0], ['ch3oh', 1.0], ['ketene', 1.0]]
18   [['dioxolane', -1.0], ['etfo', 1.0]]
19   [['dioxolane', -1.0], ['meoac', 1.0]]
20   [['dioxolane', -1.0], ['acetone', 0.8], ['dioxirane', 0.6]]
21   [['dioxolane', -1.0], ['c2h2', 1.0], ['ch2ohoh', 1.0]]
22   [['dioxolane', -1.0], ['c2h5cooh', 1.0]]
23   [['dioxolane', -1.0], ['c2h6', 1.0], ['co2', 1.0]]
24   [['dioxolane', -1.0], ['c3o2', 1.0], ['h2', 3.0]]
25   [['dioxolane', -1.0], ['c2h5cho', 0.8], ['ch2oo', 0.6]]
26   [['dioxolane', -1.0], ['h2o2', 1.0], ['propyne', 1.0]]
27   [['dioxolane', -1.0], ['ch3cohch2', 0.5], ['hcoh', 1.5]]
28   [['dioxolane', -1.0], ['cch2', 1.0], ['ch3ooh', 1.0]]
29   [['dioxolane', -1], ['oxirane', 2.0], ['cyc6', -0.16666666666666666]]
30   [['dioxolane', -1], ['THF', 2.0], ['cyc5', -1.0]]
31   [['dioxolane', -1], ['THP', 2.0], ['cyc3', -2.3333333333333335]]
32   [['dioxolane', -1], ['EtOMe', 2.0], ['isobutene', -2.0], ['hexadiene15', 1.0], ['ch4', -1.0]]
33   [['dioxolane', -1], ['DME', 2.0], ['ch3cl', -4.0], ['ch2clccl3', 1.0], ['ch4', 1.0]]
34   [['dioxolane', -1], ['anisole', 2.0], ['toluene', -2.0], ['cyc4', 0.75]]
35   [['dioxolane', -1], ['oxirene', 2.0], ['propene', -2.0], ['butane', 1.0], ['ch4', 1.0]]
36   [['dioxolane', -1], ['oxiranyl', 2.0], ['c2h5', -2.0], ['c2h6', 1.0], ['ch4', 1.0]]
37   [['dioxolane', -1], ['ch3och2', 2.0], ['iPr', -2.0], ['hexane', 1.0], ['ch4', -1.0]]
38   [['dioxolane', -1], ['meoc2h3', 2.0], ['butene1', -2.0], ['prismane', 0.5555555555555556], ['ch4', 1.6666666666666665]]
39   [['dioxolane', -1], ['etoc2h3', 2.0], ['butadiene', -1.0], ['ch4', -1.0]]