In [1]:
# Develop chemical ways to describe molecules
import yaml, sys, os, random, re
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
sys.path.insert(0, '../../karlib')
import chem_subs as chem
import multirx_subs as mrx

In [2]:
molec = 'phno2'
molyml = mrx.read_molec_yaml(molec)
G = chem.Geometry(molyml['Geometry']['coordinates'])

In [3]:
print('Component = atom')
print(G.stoichiometry(asdict=True))
G.printMOL('test.mol', title='molecule_components.ipynb')

Component = atom
{'C': 6, 'N': 1, 'O': 2, 'H': 5}

In [11]:
dfb = G.list_bonds()
dfb

    i1  i2 el1 el2      dist   ring  order
0    0   1   C   C  1.387513   True      1
1    0   5   C   C  1.387513   True      2
2    0   6   C   N  1.478039  False      1
3    1   2   C   C  1.387537   True      2
4    1   9   C   H  1.078496  False      1
5    2   3   C   C  1.391227   True      1
6    2  10   C   H  1.080835  False      1
7    3   4   C   C  1.391227   True      2
8    3  11   C   H  1.081341  False      1
9    4   5   C   C  1.387537   True      1
10   4  12   C   H  1.080835  False      1
11   5  13   C   H  1.078496  False      1
12   6   7   N   O  1.221990  False      2
13   6   8   N   O  1.221990  False      2

In [22]:
subdf = dfb[dfb.ring == True]
display(subdf)
s = subdf[['i1', 'i2']].sum(axis=0)
(s == 0).any()

   i1  i2 el1 el2      dist  ring  order
0   0   1   C   C  1.387513  True      1
1   0   5   C   C  1.387513  True      2
3   1   2   C   C  1.387537  True      2
5   2   3   C   C  1.391227  True      1
7   3   4   C   C  1.391227  True      2
9   4   5   C   C  1.387537  True      1

False

In [5]:
G.Benson_bonds(detail=1)

{'Nd-Od': 2, 'Cb-Nd': 1, 'Cb-Cb': 6, 'Cb-H': 5}

In [6]:
G.Benson_groups(detail=0, asdict=True)

{'C-(C)2(H)': 5, 'N-(C)(O)2': 1, 'C-(C)2(N)': 1}

In [7]:
G.Benson_groups(detail=1, asdict=True)

{'Cb-(Cb)2(Nd)': 1, 'Nd-(Cb)(Od)2': 1, 'Cb-(Cb)2(H)': 5}

In [8]:
G.Benson_groups(detail=2, asdict=True)

{'Ph-(NO2)': 1, 'NO2-(Ph)': 1}

In [9]:
G.Benson_bonds(detail=2)

{'NO2-Ph': 1}

In [10]:
G.Benson_atom_type(detail=2)

['Ph',
 '_Ph',
 '_Ph',
 '_Ph',
 '_Ph',
 '_Ph',
 'NO2',
 '_NO2',
 '_NO2',
 '__Ph',
 '__Ph',
 '__Ph',
 '__Ph',
 '__Ph']