In [1]:
# read 11 yaml file of reactions, process to compare with 
#   corresponding reference data at T=0
#   as done in the published paper
import yaml, sys, os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.optimize 
sys.path.insert(0, '../../karlib')
import chem_subs as chem
import multirx_subs as mrx

In [2]:
x = mrx.read_yaml('reactions.yml')
target = x['target']
# coefficients are negative for reactants and positive for products
rxns = x['reactions']

In [3]:
print(f'{len(rxns)} reactions for {target}')
moldata, Geom = mrx.read_educt_data(rxns)
oklist = mrx.check_reactions_balance(rxns, Geom)

15 reactions for dioxolane

In [4]:
T = 0.  # temperature; choose 0 or 298 (meaning 298.15)
exptl = mrx.select_expt(moldata, T)
eq6sum, uexp = mrx.eq6_sums(rxns, target, exptl)

In [5]:
# get theoretical energies for molecules
for molec, molecdata in moldata.items():
    #print(molec)
    mrx.thermo_functions(molecdata, T)
    mrx.compute_E0(molecdata)

*** Warning: "No SOC data for open-shell linear molecule dioxygen" in compute_E0()
*** Warning: "No SOC data for open-shell atom hydrogen atom" in compute_E0()

In [6]:
# use theoretical data to compute reaction enthalpies
Hrx, Srx = mrx.eq5_sums(rxns, target, moldata)
# enthalpy of formation of target
eof = [s5 - s6 for s5, s6 in zip(Hrx, eq6sum)]

In [7]:
# make table of results
print(f'Results for {target} at T = {T}')
dfrx = pd.DataFrame({f'EoF': eof, 'dH(rxn)': Hrx, 'uexp': uexp,
                     'Reaction': [mrx.reaction_string(rxn) for rxn in rxns]})
# get values of rho variants (list of tuples)
rho_E, rho_T, rho_c = mrx.gather_rho(rxns, target, moldata)
dfrx['rho_E'] = rho_E
dfrx['rho_T'] = rho_T
dfrx['rho_c'] = rho_c
dfrx = dfrx.sort_values('EoF')
fmt = {col: '{:.1f}' for col in dfrx.columns}
fmt['Reaction'] = '{:s}'
display(dfrx.style.format(fmt))

Results for dioxolane at T = 0.0

In [8]:
rho = 'rho_E'
print(f'Target = {target}')
print(f'Non-uniform weighting using {rho}:')
wmean, semw, rwmsx, a, b, change, niter = mrx.nonuniform_weighting(target, rho, dfrx,
                                                        verbose=False)
# combine SEMw with u_exp
print('\tSEMw = {:.1f}, uexp = {:.1f} kJ/mol'.format(semw, rwmsx))
unc = np.sqrt(semw**2 + rwmsx**2)  # 'rwmsx' from eq. (13)
print('\tEoF({:.1f} K) = ({:.1f} ± {:.1f}) kJ/mol (standard uncertainty)'.format(T, wmean, unc))

print('Maximum Likelihood method:')
parms, bstrap = mrx.probabilistic_weighting(target, rho, [wmean, a, b], dfrx, verbose=False)
[H, sigma0, beta] = parms
[stdH, Hvals, ttime] = bstrap
print('\tEoF = ({:.1f} ± {:.1f}) kJ/mol'.format(H, stdH))
print('\tParameter bootstrapping took {:.0f} s to compute {:d} values for H\''.format(ttime, len(Hvals)))

Target = dioxolane
Non-uniform weighting using rho_E:
	SEMw = 1.3, uexp = 0.6 kJ/mol
	EoF(0.0 K) = (-274.0 ± 1.4) kJ/mol (standard uncertainty)
Maximum Likelihood method:
	EoF = (-274.5 ± 1.1) kJ/mol
	Parameter bootstrapping took 40 s to compute 924 values for H'

In [9]:
df3, fmt = mrx.table3(target, dfrx)

In [10]:
display(df3.style.format(fmt))

In [12]:
mrx.compare_refdata(target, exptl, df3, fmt, verbose=True)
display(df3.style.format(fmt))

Comparing with reference data for dioxolane:
	EoF     : -275.0
	unc     : 0.7
	unit    : kJ/mol
	source  : Local